<!-- Start footer -->
<footer id="main-footer">
    <div class="footer-inc">
        <!-- <h3 class="heading">Fansipan Technologies</h3> -->
        <div class="nav-left">
            <ul class="logo-nav-left">
                <li><a href="#"><img class="logo logo1" src="./assets/images/logo/logo1.1-removebg-preview.png"
                            alt="Fansipan1"></a>
                </li>
                <li><a href="#"><img class="logo logo2" src="./assets/images/logo/log1.2-removebg-preview.png"
                            alt="Fansipan2"></a></li>
            </ul>
        </div>
        <p href="" class="p-content">Công ty cổ phần TNHH Fansipan Technologies là nhà cung cấp dịch vụ Điện
            thoại, Internet tốc độ cao và Giải pháp An ninh công nghệ cao, chuyên về hệ thống điện thoại đám
            mây và các giải pháp viễn thông hiện đại.</p>
    </div>
    <div class="footer-content">
        <h3 class="heading">Dịch vụ</h3>
        <a href="" class="content">Giải Pháp 5G</a>
        <a href="" class="content">Dịch Vụ Internet</a>
        <a href="" class="content">Phát Triển Firmware</a>
    </div>
    <div class="footer-content">
        <h3 class="heading">Về công ty</h3>
        <a href="" class="content">Về Chúng Tôi</a>
        <a href="" class="content">Tuyển Dụng</a>
        <a href="" class="content">Liên Hệ</a>
    </div>
    <div class="footer-content">
        <h3 class="heading">Kết nối</h3>
        <a href="" class="content"><i class="ti-linkedin"
                style="padding: 3px; background-color: blue; color: white; margin-right: 5px; margin-top: 10px; border-radius: 4px;"></i>LinkedIn</a>
        <a href="" class="content"><i class="ti-twitter"
                style="padding: 3px; background-color: white; color: blue; margin-right: 5px; margin-top: 10px; border-radius: 4px;"></i>Twitter</a>
        <a href="" class="content"><i class="ti-facebook"
                style="padding: 3px; background-color: blue; color: white; margin-right: 5px; margin-top: 10px; border-radius: 4px;"></i>Facebook</a>
    </div>
</footer>
<!-- End footer -->