<!-- Start navigation -->
<section id="navigation" class="box-stroke">
    <div class="nav-left">
        <ul class="logo-nav-left">
            <li><a href="#"><img class="logo logo1" src="./assets/images/logo/logo1.1.png" alt="Fansipan1"></a>
            </li>
            <li><a href="#"><img class="logo logo2" src="./assets/images/logo/logo1.2.png" alt="Fansipan2"></a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <ul class="nav-header-ul">  
            <li class="nav-li"><a href="#main-content">Giới thiệu</a></li>
            <li class="nav-li" >
                <a href="pages/services/services.html">Dịch vụ<i class="ti-angle-down"
                        style="margin-left: 2px; font-size: small;"></i></a>
                <ul class="subnav-ul">
                    <li class="subnav-li"><a href="pages/services/services.html">Giải pháp 5G</a></li>
                    <li class="subnav-li"><a href="pages/services/services.html">Dịch vụ Internet</a></li>
                    <li class="subnav-li"><a href="pages/services/services.html">Phát triển firmware</a></li>
                    <li class="subnav-li"><a href="pages/services/services.html">Điện thoại đám mây</a></li>
                </ul>
            </li>
            <!-- <li class="nav-li"><a href="">Sản phẩm</a></li> -->
            <li class="nav-li"><a href="tuyendung">Tuyển dụng</a></li>
            <li class="nav-li"><a href="#main-content">Liên hệ</a></li>
            <li class="nav-li"><a href="#main-content">Tiếng việt<i class="ti-angle-down" style="margin-left: 2px; font-size: small;"></i></a></li>
        </ul>
    </div>
</section>
<!-- End navigation -->