:root {
    --white: #ffffff;
    --black: #000000; 
    --blue: #0052CC;
    --dark-blue: #012e72;
    --light-blue: #0a4874;
    --light-gray: #1E293B;
    --gray: #CCCCCC;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* smoother when click link */
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10px */
 }

.box-stroke { /*stroke cho nav*/
    background-color: white;
    border-bottom: 2px solid #E5E7EB; 
    width: 100%;
}

/* nav */
/* Start CSS navigation */
#navigation {
    /* height: 5.5rem; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 70px;
}
#navigation .nav-left .logo-nav-left {
    display: flex; 
    align-items: center;
    list-style: none;
}
#navigation .nav-right .nav-header-ul {
    display: flex; 
    align-items: center;
    list-style: none;
    gap: 2rem; 
}
#navigation .nav-left .logo {
    width: 10rem;
}
#navigation .nav-left .logo2 {
    padding: calc(3px - 0.35px) 0px;
}
#navigation .nav-right .nav-header-ul .nav-li a {
    text-decoration: none;
    color: var(--light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px;
}
#navigation .nav-right .nav-header-ul .nav-li a:hover {
    background-color: var(--black);
    color: var(--white);
}
/* End CSS navigation */

/* slider */
/* Start CSS slider */
#slider {
    position: relative;
    overflow: hidden; /*Ẩn phần ngoài khung*/
    margin-top: 7rem; /* do bi nav voi fixed đè lên nên cần như này*/
    /* Tương đương 70% chiều cao của viewport (cửa sổ trình duyệt) */
    height: 70vh; 
    /* background: url('../images/slide/5g.png') top center / cover no-repeat; */
}
#slider .slides {
    height: 100%; /* chiều cao của slide*/ /* important */
    display: flex;
    color: var(--black);
    transition: transform 0.5s ease-in-out; /* chuyen canh sieu muot */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Bóng đổ đen mạnh hơn */
}
/* start slide text*/
#slider .slide-text {
    position: relative;
    background-color: var(--light-gray);
    color: var(--white);
    width: 100%;
    height: auto;
    /* flex-shrink: 0; giúp giữ kích thước của slide và đảm bảo chúng không bị biến mất => width = 100% day 2 cai sau bi tran khi do overflow se hidden di */
    flex-shrink: 0;
    /*background: url('../images/slide/5g.png') top center / cover no-repeat;*/  /* Hình nền cho text*/ 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider .slides .slide-heading {
    line-height: 72px;
    font-size: 4.8rem;
}
#slider .slides .slide-content {
    text-align: center;
    line-height: 27px;
    font-size: 1.8rem;
    max-width: 600px;
    margin: 15px 0px;
}
/* end slide text*/

/* start slide img*/
#slider .slide-img {
    width: 100%;
    flex-shrink: 0; 
}

#slider .slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỷ lệ và crop nếu cần */
    display: block;
}
/* end slide img*/

/* start btn-start */
#slider .slides .btn-start {
    font-size: 1.3rem;
    padding: 12px 20px;
    border-radius: 8px;

    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    transition: all 0.3s ease-in-out; /* Hiệu ứng mượt */
}
#slider .slides .btn-start:hover {
    background-color: var(--dark-blue);
    transform: scale(1.05);
}
#slider .slides .btn-start:active {
    transform: scale(0.8); 
}
/* end btn-start */

/* start btn nav */
#slider .buttons-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); /* can giua theo y */
}
#slider .buttons-nav button{
    color: var(--white);
    padding: 10px;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0); /* Trong suốt */
}
#slider .buttons-nav button:hover{
    transform: scale(1.1);
}
/* end btn nav*/
/* End CSS slider */

/* why-us */
/* Start css why-us */
#why-us {
    position: relative;
    width: 80%;
    max-width: 1080px;
    margin: auto;
    /* padding-top: 20px; */
}

#why-us .why-us-heading {
    padding: 30px 0px;
}

#why-us .why-us-heading .title-general {
    color: var(--light-blue);
    font-size: 30px;
    line-height: 35px;
    /* font-weight: 500; */
    padding-bottom: 10px;
    text-align: center;
}

#why-us .why-us-heading .content-general {
    font-size: 15px;
    font-weight: 500;
    font-style: bold;
    text-align: left;
}

#why-us .why-us-contents {
    padding: 28px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Thêm khoảng cách đều giữa các phần tử */
}

#why-us .why-us-contents .content-img,
#why-us .why-us-contents .content-text-heading,
#why-us .why-us-contents .content-text-about {
    flex: 1; /* Đảm bảo các phần tử có kích thước đồng đều */
    margin: 10px; /* Thêm khoảng cách giữa các phần tử */
}

#why-us .why-us-contents .content-img {
    width: 100%; /* Chiều rộng của ảnh (100% so với container) */
    max-width: 400px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#why-us .why-us-contents .content-text-heading{
    font-size: 22px;
    /* font-weight: 500; */
    padding-bottom: 10px;
}

#why-us .why-us-contents .content-text-about {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 10px;
}
/* End css why-us */

/* my-service */
/* Start CSS my-service */
#my-service {
    margin-top: 30px;
}

#my-service .my-service-heading { 
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: var(--light-blue);
}

#my-service .my-service-contents {
    margin-top: 30px;
    
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: center; */
}

#my-service .container-service-content {
    margin: 10px 20px;
    padding: 30px 0px;
    width: calc(100% / 4 - 20px); /* chia ra thanh 4 cot (-20px de tao cac margin/gap va tranh bi tran hang khi wrap)*/
    height: auto;
    border-radius: 10px; 
    background-color: var(--white);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#my-service .container-service-content:hover {
    transform: translateY(-5px); /* Subtle lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

#my-service .service-content {
    /* background-color: #0052CC; */
    width: 240px;
    height: auto;
}

#my-service .my-service-contents .service-content-icon { 
    padding: 8px;
    color: var(--white);
    background-color: var(--blue);
    font-size: 15px;
    border-radius: 5px;
}

#my-service .my-service-contents .service-content-heading {
    color: var(--blue);
    padding: 15px 0px 0px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

#my-service .my-service-contents .service-content-about {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

#my-service .my-service-contents .service-content-details {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: right;
    color: var(--blue);
}

#my-service .my-service-contents .service-content-icon,
#my-service .my-service-contents .service-content-heading,
#my-service .my-service-contents .service-content-about,
#my-service .my-service-contents .service-content-details {
    margin-left: 10px;
}

/* End CSS my-service */

/* Start CSS my-product */
/* #my-product {
    margin-top: 30px;
}

#my-product .my-product-header {
    margin-left: 50px;
    font-size: 30px;
    line-height: 30px;
    color: var(--light-blue);
} */
/* End CSS my-product */

/* Start CSS contact */
#contact .contact-container {
    position: relative;
    /* margin: 0px auto de dua phan tu ra giua theo chieu ngang */
    margin: 100px auto; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;

    width: 90%;
    max-width: 1920px;
    height: auto;
}

#contact .contact-container .contact-heading {
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 30px;

    text-align: center;
}

#contact .contact-container .contact-content {
    font-size: 18px;
    text-align: center;
    max-width: 620px;
    margin: 0 auto; 
    padding-bottom: 30px;
}

#contact .contact-container .btn-contact {
    width: 150px;
    padding: 15px 22px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue);
    transition: all 0.3s ease-in-out;

    display: block; /* inline-block thi margin khong co tac dung*/
    margin: 0px auto; /* Đưa nút ra giữa theo chiều ngang */
    text-align: center;
}

#contact .contact-container .btn-contact:hover{
    background-color: var(--dark-blue);
    transform: scale(1.05);
}

#contact .contact-container .btn-contact:active{
    transform: scale(0.85);
}
/* End CSS contact */

/* Start CSS footer */
#main-footer {
    background-color: var(--white);
    height: 30vh;

    display: flex;
    justify-content: space-around;
    background-color: var(--gray);
    /* border-top: solid 2px var(--gray); */
}

#main-footer .footer-inc .heading{
    font-size: 20px;
    color: var(--light-blue);
    padding-bottom: 20px;
}

#main-footer .footer-inc .p-content{
    font-size: 15px;
    padding-bottom: 10px;
}

#main-footer .footer-content {
    display: flex;
    flex-direction: column;
}

#main-footer .footer-content .heading{
    font-size: 20px;
    color: var(--light-blue);
    padding-bottom: 20px;
}
#main-footer .footer-content .content{
    font-size: 15px;
    padding-bottom: 10px;
}

#main-footer .footer-content a {
    color: var(--black);
}

#main-footer .footer-inc,
#main-footer .footer-content{
    margin-left: 100px;
    margin-top: 50px;
    width: calc(100% / 4 - 20px);
    /* border: solid 1px var(--gray); */
}

/* logo-footer */
#main-footer .nav-left .logo-nav-left {
    display: flex; 
    align-items: center;
    list-style: none;
}
#main-footer .nav-right .nav-header-ul {
    display: flex; 
    align-items: center;
    list-style: none;
    gap: 2rem; 
}
#main-footer .nav-left .logo {
    width: 10rem;
}
#main-footer .nav-left .logo2 {
    padding: calc(3px - 0.35px) 0px;
}
/* End CSS footer */

