:root {
    --white: #ffffff;
    --black: #000000; 
    --blue: #0052CC;
    --dark-blue: #012e72;
    --light-blue: #0a4874;
    --light-gray: #1E293B;
    --gray: #CCCCCC;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* smoother when click link */
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10px */
 }

.box-stroke { /*stroke cho nav*/
    background-color: white;
    border-bottom: 2px solid #E5E7EB; 
    width: 100%;
}

/* nav */
/* Start CSS navigation */
#navigation {
    /* height: 5.5rem; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 70px;
}
#navigation .nav-left .logo-nav-left {
    display: flex; 
    align-items: center;
    list-style: none;
}
#navigation .nav-right .nav-header-ul {
    display: flex; 
    align-items: center;
    list-style: none;
    gap: 2rem; 
}
#navigation .nav-left .logo {
    width: 10rem;
}
#navigation .nav-left .logo2 {
    padding: calc(3px - 0.35px) 0px;
}
#navigation .nav-right .nav-header-ul .nav-li > a {
    text-decoration: none;
    color: var(--light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px;
}

#navigation .nav-right .nav-header-ul .nav-li > a:hover {
    color: var(--blue);
}

/* subnav */
.subnav-li a {
    color: var(--black);
}

.subnav-li a:hover {
    color: var(--blue);
}

#navigation .nav-right .nav-header-ul .nav-li {
    position: relative; /* Để subnav có thể được định vị tương đối với nav cha */
}

#navigation .nav-right .nav-header-ul .nav-li .subnav-ul {
    display: none; /* Ẩn sub nav */
    position: absolute;
    top: 100%; /* Đặt dưới nav cha */
    left: 0;

    text-decoration: none;
    list-style: none;
}

#navigation .nav-right .nav-header-ul .nav-li .subnav-li {
    width: 200px; /* Chiều rộng của sub nav */
    color: var(--black);
    background-color: var(--white);
    padding: 15px 10px;
    font-size: 1.4rem;
    font-weight: 500;
}

#navigation .nav-right .nav-header-ul .nav-li:hover .subnav-ul {
    display: block; /* Hiện sub nav khi hover vào nav cha */
}

/* End CSS navigation */


/* Start CSS footer */
#main-footer {
    background-color: var(--white);
    height: 30vh;

    display: flex;
    justify-content: space-around;
    background-color: var(--gray);
    /* border-top: solid 2px var(--gray); */
}

#main-footer .footer-inc .heading{
    font-size: 20px;
    color: var(--light-blue);
    padding-bottom: 20px;
}

#main-footer .footer-inc .p-content{
    font-size: 15px;
    padding-bottom: 10px;
}

#main-footer .footer-content {
    display: flex;
    flex-direction: column;
}

#main-footer .footer-content .heading{
    font-size: 20px;
    color: var(--light-blue);
    padding-bottom: 20px;
}
#main-footer .footer-content .content{
    font-size: 15px;
    padding-bottom: 10px;
}

#main-footer .footer-content a {
    color: var(--black);
}

#main-footer .footer-inc,
#main-footer .footer-content{
    margin-left: 100px;
    margin-top: 50px;
    width: calc(100% / 4 - 20px);
    /* border: solid 1px var(--gray); */
}

/* logo-footer */
#main-footer .nav-left .logo-nav-left {
    display: flex; 
    align-items: center;
    list-style: none;
}
#main-footer .nav-right .nav-header-ul {
    display: flex; 
    align-items: center;
    list-style: none;
    gap: 2rem; 
}
#main-footer .nav-left .logo {
    width: 10rem;
}
#main-footer .nav-left .logo2 {
    padding: calc(3px - 0.35px) 0px;
}
/* End CSS footer */

