:root {
    --white: #ffffff;
    --black: #000000; 
    --blue: #0052CC;
    --dark-blue: #012e72;
    --light-blue: #0a4874;
    --light-gray: #1E293B;
    --gray: #CCCCCC;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* smoother when click link */
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10px */
}

.wrapper-options {
    padding: 0px 70px;
}

 /* start nav service */
#nav-service {
    display: flex; 
    align-items: center;
    margin-top: 70px;
    padding: 20px 0px;
}

/* #nav-service h2 {
    font-size: 1.8rem; 
    color: var(--blue);
    font-weight: bold;
    margin-right: 5px;
    line-height: 20px;
} */

#nav-service .nav-service-content {
    font-size: 1.8rem; /* 18px */
    color: var(--blue);
    font-weight: bold;
    margin-right: 5px;
    line-height: 20px;
    margin-bottom: -4px;
}

#nav-service h2 a{  
    padding: 0px 8px;
    font-size: 1.8rem; /* 18px */
    color: var(--dark-blue);
}

#nav-service .right-angle {
    color: var(--gray);
    font-weight: bold;
}
/* end nav service */

/* start options */
#service-options .options-heading {
    /* text-align: center; */
    font-size: 3rem; /* 30px */
    padding: 20px 0px;
}

#service-options .option-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#service-options .option-items .option-item {
    width: calc(100% / 3 - 20px);
    height: 18rem;
    margin: 10px 0px 25px 0px; 
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    /* cursor: pointer;  */
}

#service-options .option-items .option-item i {
    font-size: 3rem; /* 30px */
    color: var(--blue);
    margin-top: 10px;
    display: block;
    text-align: left;
}

#service-options .option-items .option-item h3 {
    font-size: 2rem; /* 20px */
    color: var(--blue);
    font-weight: bold;
    margin-top: 10px;
}

#service-options .option-items .option-item p {
    font-size: 1.4rem; /* 14px */
    color: var(--light-gray);
    margin-top: 10px;
}
/* end options */

/* start package */
#service-packages .package-heading {
    /* text-align: center; */
    font-size: 3rem; /* 30px */
    padding: 20px 0px;
}

#service-packages .package-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-bottom: 20px;
}

#service-packages .package-items .package-item {
    width: calc(100% / 3 - 20px);
    height: 35rem;
    margin: 10px 0px 25px 0px; 
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#service-packages .package-items .package-item-heading {
    font-size: 2rem; /* 20px */
    color: var(--blue);
    font-weight: bold;
    margin-top: 10px;
}

#service-packages .package-items .package-details {
    font-size: 1.4rem; /* 14px */
    color: var(--light-gray);
    margin-top: 10px;
}

#service-packages .package-items .package-details-1 {
    font-size: 1.4rem; /* 14px */
    color: var(--light-gray);
    margin-top: 10px;
    margin-bottom: 20px;
}

#service-packages .package-items .ti-check {
    font-size: 1.2rem; /* 12px */
    padding-right: 10px;
    color: var(--black);
}

#service-packages .package-items a {
    display: inline-block;
    width: 97%;
    margin: 30px 0px;
    font-size: 1.4rem; /* 14px */   
    text-align: center;
    padding: 10px 20px;

    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#service-packages .package-items .package-item:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

#service-packages .package-items .package-item-prices {
    font-size: 3rem; /* 20px */
}

#service-packages .package-items .split {
    font-size: 1.4rem; /* 14px */
    font-weight: 500;
}   
/* end package */
